<html>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.10/p5.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/sketch.js"></script>
    <script src="/jscolor.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <link rel="stylesheet" href="/utility.css">
    <style>
    
    #stroke-picker{
        
        border:solid; 
        border-width:1px; 
        padding: 5px; 
        border-radius:5px; 
        display:inline-block;
        
    }
 
    </style>
  </head>
  <body>
<div id = "grey-cover" class = "menu-item"></div>
 <div id = "select-menu" class = "menu-item">
    <h3 style = "margin-bottom:0px">Enter the name you would like to use for this session</h3>
    <input class ="name-box" type = "text" placeholder="Enter name here"> 
    <button  class = "submit">Submit</button>
</div>
    <div id='myContainer' style = "display:inline"></div>
    <div id = "tools-container">
        <div  id="stroke-picker">
             <div id = "stroke-item"> Color: <input id = "color-picker" class="jscolor" value="ab1252"></div>
             <div id = "stroke-item"> Radius: <input type="number" id = "radius-picker" min="1" max="200" value = "30"></div>
             <div id = "stroke-item"> Transparency: <input type="number" id = "transparency-picker" min="1" max="255" value = "255"></div>
        </div>
        <div class = "chat-box">
            <div class = "chat-head">Chatbox</div>
            <div class = "chat-body">
                <textarea id = "chat-body" readonly></textarea>
            </div>
            <div class = "chat-input">
                <input type="text" id = "chat-input" class = "input-box" placeholder = "Type a message"> 
            </div>
        </div>
    </div>
   <p>Share this link to invite people to join you in drawing</p>
   <p> Link:  <span id = "link-share"></span> </p>
  </body>
  

    <script>
        var Name = "";
        $("#link-share").html(window.location.href)

        $('#chat-input').keyup(function(e){
            if(e.keyCode == 13)
            {
                sendText($(this).val())
                $(this).val("")
            }
        });
        function sendText(text){
            text = Name + ": " + text;
            console.log($("#chat-body").val().length)
            if($("#chat-body").val().length >0)
                text = "&#13;&#10;" + text
            socket.emit('text', text);
            $("#chat-body").html($("#chat-body").html() +  text );


        }
        $(".submit").on("click", function(){
            Name = $(".name-box").val();
            $(".menu-item").hide();
        });
        function newText(text){
            $("#chat-body").html($("#chat-body").html() +  text );
        }
    </script>

</html>