<html>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.10/p5.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/sketch.js"></script>
    <script src="/jscolor.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
    #tools-container{
        padding:10px; 
        top:0px; 
        display:inline; 
        position:absolute;
    }
    #stroke-picker{
        
        border:solid; 
        border-width:1px; 
        padding: 5px; 
        border-radius:5px; 
        display:inline-block;
        
    }
    #link-share{
        background-color:lightgray;
    }
    .chat-box{
        width:300px;
        border:solid; 
        border-width:1px; 
        padding: 5px; 
        border-radius:5px; 
        height:300px;
    }
    .chat-head{
        background-color:lightgray;
    }
    .chat-body{

        position:absolute;
        bottom:60px;
        height:240px;
        width:300px;

    }
    .chat-input{
        height:20px;
        width:300px;
        position:absolute;
        border-top:solid; 
        border-width:1px; 
      
        bottom:30px;
    }
    .input-box{
        border:0;
        width:100%;
        height:25px;
    }
    #chat-body{
        width:100%;
        height:100%;
        border:0;
        resize:none;
    }
    #grey-cover
    {
        background-color: gray;
        filter:alpha(opacity=50); /* IE */
        opacity: 0.5; /* Safari, Opera */
        -moz-opacity:0.50; /* FireFox */
        z-index: 20;
        height: 100%;
        width: 100%;
        background-repeat:no-repeat;
        background-position:center;
        position:absolute;
        top: 0px;
        left: 0px;
    }
    #select-menu{
        width:400px; 
        height:200px;
        background-color:white; 
        position:absolute; 
        top:40%;
        left:50%;
        margin-left:-200px;
        margin-top:-100px;
        border-radius:10px; 
        display:block; 
        opacity:1.0; 
        text-align:center;
        z-index:30;
    }
    .name-box{
        float:left;
        margin:5%;
        width:90%;
        height:50px;
        text-align:left;
        font-size:25;
    }
    .submit{
        background:    #6aa84f;
        background:    -webkit-linear-gradient(#6aa84f, #274e13);
        background:    linear-gradient(#6aa84f, #274e13);
        border-radius: 20px;
        width:         150px;
        height:        50px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal 700 27px/1 "Calibri", sans-serif;
        text-align:    center;
        text-shadow:   1px 1px #000000;
        margin-top:-10px;
    }
    </style>
  </head>
  <body>
<div id = "grey-cover" class = "menu-item"></div>
 <div id = "select-menu" class = "menu-item">
    <h3 style = "margin-bottom:0px">Enter the name you would like to use for this session</h3>
    <input class ="name-box" type = "text" placeholder="Enter name here"> 
    <button  class = "submit">Submit</button>
</div>
    <div id='myContainer' style = "display:inline"></div>
    <div id = "tools-container">
        <div  id="stroke-picker">
             <div id = "stroke-item"> Color: <input id = "color-picker" class="jscolor" value="ab1252"></div>
             <div id = "stroke-item"> Radius: <input type="number" id = "radius-picker" min="1" max="200" value = "30"></div>
             <div id = "stroke-item"> Transparency: <input type="number" id = "transparency-picker" min="1" max="255" value = "255"></div>
        </div>
        <div class = "chat-box">
            <div class = "chat-head">Chatbox</div>
            <div class = "chat-body">
                <textarea id = "chat-body" readonly></textarea>
            </div>
            <div class = "chat-input">
                <input type="text" id = "chat-input" class = "input-box" placeholder = "Type a message"> 
            </div>
        </div>
    </div>
   <p>Share this link to invite people to join you in drawing</p>
   <p> Link:  <span id = "link-share"></span> </p>
  </body>
  

    <script>
        var Name = "";
        $("#link-share").html(window.location.href)

        $('#chat-input').keyup(function(e){
            if(e.keyCode == 13)
            {
                sendText($(this).val())
                $(this).val("")
            }
        });
        function sendText(text){
            text = Name + ": " + text;
            console.log($("#chat-body").val().length)
            if($("#chat-body").val().length >0)
                text = "&#13;&#10;" + text
            socket.emit('text', text);
            $("#chat-body").html($("#chat-body").html() +  text );


        }
        $(".submit").on("click", function(){
            Name = $(".name-box").val();
            $(".menu-item").hide();
        });
        function newText(text){
            $("#chat-body").html($("#chat-body").html() +  text );
        }
    </script>

</html>